h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #212121;
  --accent-color: #2196f3;
  --secondary-color: #ffffff;
  --text-color: #757575;
  --logo-color: #000000;
  --bg-main-color: #2f303a;
  --bg-accent-color: #f5f4fa;
  --bg-button-color: #188ce8;
  --icon-color: #afb1b8;
  --section-pt: 94px;
  --section-pb: 94px;
  --pt: 15px;
  --pb: 15px;
}

body {
  font-family: var(--main-font);
  color: var(--text-color);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* ============= COMPONENTS ============= */
.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-color);
  max-width: 696px;
  margin: 0 auto;
}
.subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 50px;
}
.social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social-list-item-black:not(:last-child) {
  margin-right: 10px;
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link-black {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-icon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-icon-black {
  fill: var(--secondary-color);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}
.social-list-link-black:hover,
.social-list-link-black:focus {
  background-color: var(--accent-color);
}
.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--secondary-color);
}

/* ============= END COMPONENTS ============= */

/*-----------------HEADER--------------------*/
.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}
.header .container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.logo-link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-right: 93px;
}
.logo-part {
  color: var(--logo-color);
}
.navigation-list {
  display: flex;
  align-items: center;
}
.navigation-item:not(:last-child) {
  margin-right: 50px;
}
.navigation-link {
  color: var(--main-color);
  padding-top: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}
.active-link {
  color: var(--accent-color);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.active-link::after {
  content: "";
  display: inline-block;
  margin-top: 28px;
  background-color: var(--accent-color);
  border-radius: 2px;
  width: 48px;
  height: 4px;
}
.active-link-portfolio {
  color: var(--accent-color);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.active-link-portfolio::after {
  content: "";
  display: inline-block;
  margin-top: 28px;
  background-color: var(--accent-color);
  border-radius: 2px;
  width: 78px;
  height: 4px;
}

.contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contact-list:not(:last-child) {
  margin-right: 50px;
}
.contact-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  padding-top: 10px;
  padding-bottom: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-icon {
  fill: var(--icon-color);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
.contact-link:hover .contact-icon,
.contact-link:focus .contact-icon {
  fill: var(--accent-color);
}
/*-----------------END HEADER--------------------*/

/*-----------------MAIN--------------------*/
/*-----------------HERO--------------------*/
.hero {
  max-width: 1600px;
  margin: 0 auto;
  background-color: var(--bg-main-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/img-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero .container {
  text-align: center;
  padding: 200px 0;
}
.modal-btn {
  min-width: 136px;
  padding: 10px 32px;
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--secondary-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--bg-button-color);
}
/*-----------------END HERO--------------------*/

/*-----------------ABOUT--------------------*/
.about {
  padding-top: var(--section-pt);
  padding-bottom: 47px;
}

.about .container {
  display: flex;
  align-items: center;
}
.about-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.about-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.about-box {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background: var(--bg-accent-color);
  border-radius: 4px;
}
.about-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 10px;
}
.about-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/*-----------------END ABOUT------------------------*/

/*-----------------DOING------------------------*/
.doing {
  padding-top: 47px;
  padding-bottom: var(--section-pb);
}
.doing-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.doing-item {
  position: relative;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.doing-wrapper-description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--secondary-color);
}
/*-----------------END DOING------------------------*/

/*-----------------OUR TEAM--------------------*/
.team {
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
  background-color: var(--bg-accent-color);
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.team-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.team-box {
  padding: 30px 32px;
  background-color: var(--secondary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 10px;
}
.team-description {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

/*-----------------END OUR TEAM--------------------*/

/*-----------------CUSTOMERS--------------------*/
.customers {
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.customers-item {
  flex-basis: calc(100% / 6 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  fill: var(--icon-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  border: 1px solid var(--accent-color);
}
.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  fill: var(--accent-color);
}

/*-----------------END CUSTOMERS--------------------*/

/*-----------------PORTFOLIO--------------------*/
.portfolio-section {
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
}

.portfolio-list-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-left: -8px;
}
.portfolio-item-btn {
  margin-left: 8px;
}

.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--main-color);
  background-color: var(--bg-accent-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--secondary-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.portfolio-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-content-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background: rgba(33, 150, 243, 0.9);
  color: var(--secondary-color);
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:focus .overlay,
.portfolio-link:hover .overlay {
  transform: translateY(0%);
}

.portfolio-block {
  width: 370px;
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
  margin-bottom: 4px;
}
.portfolio-description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/*-----------------END PORTFOLIO--------------------*/
/*-----------------END MAIN--------------------*/

/*-----------------FOOTER--------------------*/
.footer {
  background-color: var(--bg-main-color);
}
.footer .container {
  display: flex;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-contact-box {
  margin-right: 70px;
}
.footer-logo-link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-part-two {
  color: var(--secondary-color);
}
.address {
  font-style: normal;
  margin-top: 20px;
}

.address-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-item:not(:last-child) {
  margin-bottom: 9px;
}
.address-links {
  color: var(--secondary-color);
  margin-bottom: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-links:hover,
.address-links:focus {
  color: var(--accent-color);
}
.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

.footer-social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

.footer-form {
  width: 570px;
  margin-left: 93px;
}
.footer-form-box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.footer-form-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
}
.footer-form-input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 12px;
  padding: 16px 15px;
  color: var(--secondary-color);
  background-color: transparent;
  cursor: pointer;
}

.footer-form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-btn {
  min-width: 200px;
  padding: 10px 29px 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: var(--bg-button-color);
}
.footer-form-icon {
  margin-left: 10px;
}
/*-----------------END FOOTER--------------------*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--secondary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.icon-close-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-47%, -47%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)),
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 12px;
}
.modal-form-field {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
}
.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
  margin-bottom: 10px;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
  cursor: pointer;
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 20px;
  resize: none;
}
.modal-form-message::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  margin-top: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form-check-description {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.modal-form-check-description::before {
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  border: 1px solid var(--main-color);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8.38px;
}
.modal-form-term:checked + .modal-form-check-description::before {
  background-image: url(../images/icon-vector.svg);
  background-color: var(--accent-color);
  background-position: center;
  border: 0.2px solid var(--secondary-color);
  background-repeat: no-repeat;
}
.modal-form-term:focus + .modal-form-check-description::before {
  border: 1px solid var(--accent-color);
}
.modal-form-term:checked + .modal-form-check-description {
  color: rgba(47, 48, 58, 0.4);
}

.modal-form-link {
  color: rgb(33, 150, 243);
}

.modal-form-btn {
  min-width: 200px;
  padding: 10px 55px 10px 56px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-self: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 30px;
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: var(--bg-button-color);
}
